.about {
    background: #191919;
}

img.about_img {
    border-radius: 10px;
    width: 100%;
}

h1.about__heading {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 60px;
    color: #fff;
}

.about_component_space {
    margin-bottom: 30px;
    background: #191919;
}

button.about.btn.pointer {
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: 0.4s ease;
}

.about__button {
    padding: 20px 0px;
}

/* .up__to__top__btn{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #f9004D;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    z-index: 1000;
} */

@media only screen and (max-width: 1024px) {
    .p__color {
        font-size: 10px !important;
    }
}



@media only screen and (max-width: 1038px) {
    button.about__button {
        margin: 0px 20px;
        max-width: 175px;
    }
}
@media only screen and (max-width: 1024px) {
    h1.about__heading {
        font-size: 30px;
    }
         button.about__btn {
             padding: auto;
             font-size: 15px;
         }

         
}


 @media only screen and (max-width: 584px) {
     .d__flex {
         flex-direction: column;
         gap: 5px;
         max-width: 100%;
     }
 }

 @media only screen and (max-width: 480px) {
     button.btn {
         margin: 10px 0px;
     }
 }
